<div class="row"
     style="padding-top: 20px; width: 100%">
  <div class="col-3" style="text-align: center;">
    <app-converter [color]="'#EF476F'"></app-converter>
  </div>
  <div class="col-3" style="text-align: center;">
    <app-converter [color]="'#FFD166'"></app-converter>
  </div>
  <div class="col-3" style="text-align: center;">
    <app-converter [color]="'#06D6A0'"></app-converter>
  </div>
  <div class="col-3" style="text-align: center;">
    <app-converter [color]="'#118AB2'"></app-converter>
  </div>
</div>