

<mat-toolbar color="accent">MP3 Youtbe Converter</mat-toolbar>

<div class="row">
  <div class="col" style="text-align: center;">
    <p>// N-wfb25WmV4
      // apKja6C804o</p>
    <mat-form-field style="width: 70%;">
      <mat-label>Youtube Url</mat-label>
      <input matInput
             placeholder="My Youtube Url"
             [(ngModel)]="youtubeUrl"
             onfocus="this.select()"
             required>
      <mat-error *ngIf="!isValidYoutubeUrl()">
        Please enter a valid youtube url
      </mat-error>
    </mat-form-field>
    <p>
      video-id: {{ videoId }}
    </p>

    <div>
      <iframe *ngIf="isValidYoutubeUrl()"
              [src]="iFrameUrl | safeUrl"
              width="100%"
              height="40px"
              scrolling="no"
              style="border:none;"></iframe>
    </div>

  </div>
</div>


<router-outlet></router-outlet>